doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui")
    meta(name="format-detection" content="telephone=no")
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/css/simplemde.min.css')
    script(src='/stylesheets/js/jquery.min.js', type='text/javascript')
  body
    block content
  script(src='/stylesheets/js/bootstrap.js' ,type='text/javascript')
  
